.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: sticky;
  top: 0;
  height: calc(100vh - 0px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}